<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/index.css"/>
</head>

<body>
    <h1>Flat Login Form inside a Mac Monitor</h1>

    <div class="stand">
        <div class="outer-screen">
            <div class="inner-screen">
                <form method = "POST" action="/login" class="form">
                    <input type="text" class="zocial-dribbble" placeholder="your email" value="taehoon@mail.com"/>
                    <input type="text" placeholder="your password" value="12345678"/>
                    <input type="submit" value="Login"/>
                    <a href="">Lost your password?</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>